@font-face {
  font-family: 'Quando';
  src: url('/stylesheets/Quando/Quando-Regular.ttf');
}

h1, h2, h3, h4, h5, h6, .md-header-nav__topic {
  font-family: 'Quando';
}

.alert {
 padding:15px;
 margin-bottom:20px;
 color:#444;
 background:#eee;
 border-bottom:5px solid #ddd
}

.alert-warning {
 background:#fcf8e3;
 border-color:#faebcc;
 color:#8a6d3b
}

:root {
  --md-primary-fg-color: #5e2644;
  --md-accent-fg-color: #913b69;
  --md-typeset-a-color: #5E2644;
  --md-footer-bg-color: yellow!important;
  --md-footer-bg-color--dark: yellow;
  /* --md-footer-fg-color: #25181C; */
}

.md-footer {
  background-color: #25181C;
}

.md-content__inner > h1 {
  color: #5E2644;
}

article * > a {
  text-decoration: underline;
}
